<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - maathaworld</title>
    <meta name="description"
        content="Maatha World Foundation, a non-profit organization with a vision of making Sri Lanka economically self-reliant, is making waves in the community by creating teams in Grama Niladhari Divisions (GNDs) to promote Wealth Creation and Human Capital Development. Our organization's tireless efforts have not gone unnoticed, and it is garnering support from all corners of Sri Lanka's business community.">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light" id="mainNav">
        <div class="container"><a class="navbar-brand" href="index.html">MaathaWorld</a><button
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i
                    class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">About us</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact us</a></li>
                    <li class="nav-item"><a class="nav-link" href="post.html">Blog Post</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead"
        style="background: url(&quot;assets/img/daria-dyachenko-D-TI9Zww3O0-unsplash.jpg&quot;) center / cover no-repeat;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading" style="height: 601.8px;">
                        <h1 style="font-size: 45px;color: #ffffff;">Maatha World Foundation</h1><span
                            class="subheading"><strong>LET'S MAKE DIFFERENCE&nbsp;</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container" style="padding-top: 22px;margin-top: -24px;">
        <div class="row">
            <div class="col-md-6" style="background: rgba(98,72,14,0);padding-top: 31px;">
                <h1 style="color: var(--bs-primary);text-align: center;margin-top: 41px;"><strong>About Maatha
                        World</strong></h1>
                <p
                    style="color: var(--bs-primary);text-align: center;font-size: 16px;padding-bottom: 2px;margin-top: 42px;padding-right: 2px;padding-left: 0px;">
                    Maatha World is a non-profit establishment created to bring together Sri Lankans living here and
                    overseas in an effort to have have a "Safty Net" on the population of 20 million scattered into
                    14022 Grama Nildari Divisions around the Island nation,to make Sri Lanka economically self-reliant.
                    Keeping Accountability, Transparency and Credibility at our core principles, the organization
                    consists of Directors and Advisors who have provided a commendable service to the country with an
                    admirable track record.</p>
            </div>
            <div class="col-md-6" style="position: sticky;"><img src="assets/img/maatha%20logo%20final.png"
                    style="width: 80%;margin-left: 19px;padding-left: 30px;"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 style="color: var(--bs-primary);">Mission</h1>
                <p style="text-align: center;color: var(--bs-primary);">To have a Safety Net at a crisis situation and
                    join hands from village level to build a Healthy and Harmonious Society.</p>
            </div>
            <div class="col-md-6">
                <h1 style="color: var(--bs-primary);">Vision</h1>
                <p style="color: var(--bs-primary);text-align: center;">Make Sri Lanka economically Self-reliant &amp;
                    Contented</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i
                                    class="fa fa-circle fa-stack-2x"></i><i
                                    class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i
                                    class="fa fa-circle fa-stack-2x"></i><i
                                    class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i
                                    class="fa fa-circle fa-stack-2x"></i><i
                                    class="fa fa-github fa-stack-1x fa-inverse"></i></span></li>
                    </ul>
                    <p class="text-muted copyright">Copyright&nbsp;©&nbsp;maathaworld 2023</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>
